@import "tailwindcss";

@layer utilities {
  .custom-scrollbar {
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #000 transparent;
  }

  /* Chrome, Edge, Safari */
  .custom-scrollbar::-webkit-scrollbar {
    height: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 9999px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #333;
  }
}

* {
  box-sizing: border-box;
}

.mainContainer {
  width: 1285px;
  margin-left: 25px;
  margin-right: 25px;
}
