@import "tailwindcss";

@layer utilities {
  .custom-scrollbar {
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #000 transparent;
  }

  /* Chrome, Edge, Safari */
  .custom-scrollbar::-webkit-scrollbar {
    height: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 9999px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #333;
  }

  /* Fade in animation for subcategories */
  .animate-fadeIn {
    animation: fadeIn 0.2s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(10px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

* {
  box-sizing: border-box;
}

.mainContainer {
  width: 1285px;
  margin-left: 25px;
  margin-right: 25px;
}

/* animations */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fadeUp 1s ease-out forwards;
}

.delay-300 {
  animation-delay: 0.3s;
}

.delay-400 {
  animation-delay: 0.4s;
}

.delay-600 {
  animation-delay: 0.6s;
}

.delay-800 {
  animation-delay: 0.8s;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-24px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.stagger-left > div {
  opacity: 0;
  animation: slideInLeft 1.2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  will-change: transform, opacity;
}

.stagger-left > div:nth-child(1) {
  animation-delay: 0.2s;
}
.stagger-left > div:nth-child(2) {
  animation-delay: 0.4s;
}
.stagger-left > div:nth-child(3) {
  animation-delay: 0.6s;
}
.stagger-left > div:nth-child(4) {
  animation-delay: 0.8s;
}
.stagger-left > div:nth-child(5) {
  animation-delay: 1s;
}
